.saved-lectures {
	display: flex;
	flex-direction: column;
	width: 60%;
	margin: 20px auto;

	.container {
		flex: 1;
		display: flex;
		flex-direction: column;
		padding-top: 20px;
		gap: 20px;

		.saved-caption {
			height: 130px;
			width: 250px;
		}
	}
}

@media (max-width: 768px) {
	.saved-lectures {
		width: 100%;
		padding: 0px 10px;
	}
}
