@import "../../resources/styles/variables.scss";
.notification {
	position: absolute;
	bottom: 40px;
	right: 40px;
	gap: 20px;
	min-width: 250px;
	display: flex;
	align-items: center;
	color: black !important;
	background: white;
	color: $color-10;
	padding: 12px;
	font-size: 16px;
	border-radius: 8px;
	z-index: 102;
	opacity: 1;
	align-items: center;
	justify-content: space-between;
	.link {
		color: $blue-60;
		font-weight: 600;
		text-decoration: none;
		margin-right: 10px;
	}
	span {
		display: flex;
		align-items: center;
		gap: 6px;
		line-height: 24px;
		svg {
			color: $blue-60;
			margin-top: 1px;
		}
	}
	&.info {
	}

	&.undefined {
		display: none;
	}

	&.warning {
		svg {
			color: $error;
		}
	}
}
