.lecture-goals {
	gap: 16px;

	header {
		width: 100%;
		display: flex;
		justify-content: space-between;

		svg {
			color: var(--primary-color);
		}
	}
	.p-accordion-content {
		display: grid;
		grid-template-columns: 1fr 1fr;
		padding-top: 0px !important;
		gap: 10px;

		i {
			font-size: 10px;
			padding-top: 6px;
			color: var(--primary-color);
		}
	}
	.row {
		display: flex;
		gap: 12px;
		align-items: flex-start;
	}
}
