.image-field {
	display: flex;
	height: 200px;
	justify-content: space-between;

	.image-container {
		width: 45%;
		.caption {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
		div {
			width: 100% !important;
			height: 200px !important;
		}
	}

	.field-caption {
		width: 50%;
		max-width: 400px;
		display: flex;
		flex-direction: column;
		gap: 4px;
	}
	.empty-image-container {
		width: 45%;
		display: flex;
		border: 1px solid var(--surface-100);
		border-radius: 4px;
	}
}
