.new-section-form {
	margin: 8px 0px;
	margin-right: 10px;
	display: flex;
	gap: 20px;
	fieldset {
		flex: 1;
		display: flex;
		flex-direction: column;
		border: 0px;
		gap: 4px;
	}

	input {
		background-color: transparent;
		padding: 8px;
		margin-bottom: 0px;
	}

	.cancel {
		cursor: pointer;
		background: transparent !important;
		color: white !important;
		font-weight: 600;
	}

	button {
		padding: 8px 16px !important;
		font-weight: 600;
	}
}
