@import "src/layout/variables.scss";
.created-lecture-card {
	display: flex;
	gap: 20px;
	color: rgb(147, 147, 147);

	h2 {
		color: white;
	}
	img {
		height: 100px;
		aspect-ratio: 16/9;
		object-fit: cover;
		border-radius: 6px;
	}
	.empty-caption {
		object-fit: contain;
		background-color: var(--color-30);
		color: white;
	}

	.container {
		flex: 1;
		display: flex;
		flex-direction: column;
	}
	.chip {
		font-weight: 600;
		background: var(--color-30);
		border-radius: 4px;
		padding: 4px 12px;
	}
	ul {
		gap: 20px;
	}

	.edit {
		color: white;
		margin: auto;
		text-align: end;
	}
}
