.input-search {
	margin: auto;
	.p-inputtext {
		padding: 0.5rem;
		background: var(--color-30);
		min-width: 30vw;
		border: 1px solid gray !important;
		color: white;
	}
	&::placeholder {
		color: white;
		opacity: 0.8;
	}
}
