@import "../../../layout/variables.scss";

.account-header-section {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 2rem;

	.banner-picture {
		flex: 1;
		min-height: 220px;
		max-height: 220px;
		background-color: $color-30;
		border-radius: 8px;
	}

	main {
		position: absolute;
		top: 140px;
		left: 40px;
		width: 128px;
		aspect-ratio: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		background: $color-60;
		border-radius: 50%;
	}
	input {
		position: absolute;
		top: 0px;
		cursor: pointer;
		opacity: 0;
	}
	.profile-picture {
		width: 120px;
		aspect-ratio: 1;
		border-radius: 50%;
	}
	.profile-banner {
		width: 100%;
		min-height: 80%;
	}
	.edit {
		position: absolute;
		right: 13px;
		bottom: 13px;
		background-color: rgb(54, 149, 204);
		color: white;
		font-size: 30px;
		padding: 6px;
		border-radius: 50%;
	}

	.details {
		display: flex;
		justify-content: space-between;
		gap: 4px;
		padding-left: 180px;
		.name {
			font-size: 24px;
			font-weight: 600;
		}
		.row {
			display: flex;
			align-items: center;
			gap: 4px;
		}
		.address {
			display: flex;
			align-items: center;
			gap: 4px;
			color: rgb(117, 117, 117);
		}
	}
}
