@import "../../../resources/styles/variables.scss";
.lecture-card {
	position: relative;
	display: grid;
	grid-template-areas:
		"header header"
		"menu main"
		"menu main";
	grid-template-columns: 1fr 20px;
	grid-template-rows: 180px 100px;
	gap: 6px 0px;
	.banner {
		grid-area: header;
		min-height: 180px;
		max-height: 180px;
		position: relative;
		background-color: $color-30;
		border-radius: 8px;
		cursor: pointer;

		img {
			border-radius: 8px;
			object-fit: cover;
			width: 100%;
			max-height: 180px;
		}
	}
	.content {
		grid-area: menu;
		font-weight: 400;
		color: white;

		.title {
			width: 100%;
			display: flex;
			align-items: baseline;
			justify-content: space-between;
			font-weight: 600;
			font-size: 20px;
			margin-top: 4px;
			overflow: hidden;
			text-overflow: ellipsis;

			span {
				width: 90%;
			}
		}
		.author {
			margin-top: 4px;
			overflow: hidden;
			text-overflow: ellipsis;
			color: #808080;
			white-space: nowrap;
		}
	}
	.icon {
		color: white;
		cursor: pointer;
		height: 20px;
	}
}
