@import "primeflex/primeflex.scss";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
	background: var(--color-60);
}

:root {
	--color-10: #4b4b4b;
	--color-30: #282828;
	--color-60: #0f0f0f;
	--form-color: #1b2026;
	--input-color: #30363d;
	--blue-900: #5269d6;
	--blue-600: #2196f3;
	--red-300: #e06565;
	--border: 1px solid rgba(255, 255, 255, 0.12);
}

.Auth {
	width: 100%;
	height: 100vh;
	display: flex;
}
.App {
	height: 100vh;
	display: flex;

	.main-wrapper {
		flex: 1;
		display: flex;
		flex-direction: column;
	}
	.app-wrapper {
		height: 100%;
		overflow: auto;
	}
}

.p-divider.p-divider-horizontal::before {
	border-top: 3px var(--color-30) !important;
	border-top-style: solid !important;
}

.p-rating .p-rating-item.p-rating-item-active .p-rating-icon {
	color: rgb(255, 217, 0);
}
.p-rating .p-rating-item .p-rating-icon {
	color: var(--color-10);

	font-size: 0.9rem;
}

.p-tree
	.p-tree-container
	.p-treenode
	.p-treenode-content
	.p-tree-toggler:focus {
	outline: 0 none;
	outline-offset: 0;
	box-shadow: none;
}

.p-treenode-label {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.p-treenode-content {
	width: 100% !important;
}
.p-inputtext {
	box-shadow: none !important;
}

.p-overlaypanel {
	margin-top: 0px;
}

@media (max-width: 768px) {
	.app-wrapper {
		margin-bottom: 60px;
	}
}
