@import "../../../resources/styles/variables.scss";
.steps-container {
	position: relative;
	padding: 21px 0px;
	margin-bottom: 20px;

	.progress-bar {
		height: 6px;
		background-color: #30363d;
	}
	.steps {
		position: absolute;
		width: 60%;
		top: 0%;
		width: 100%;
		display: flex;
		justify-content: space-around;

		.step {
			border-radius: 50%;
			background-color: #30363d;
			width: 50px;
			height: 50px;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 26px;
		}
		.user {
			font-size: 20px;
		}
		.active {
			background-color: var(--blue-900);
		}
	}
}
