.edit-form {
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 2rem;

	main {
		width: 55vw;
		min-width: 500px;
		display: flex;
		flex-direction: row;
		margin: 0 auto;
		gap: 2rem;
	}
}
