.login-provider-section {
	display: flex;
	flex-direction: column;
	text-align: center;
	font-size: 20px;
	gap: 1rem;

	.or {
		border-bottom: 1px solid gray;
		line-height: 0.1em;
		margin: 1.5rem 1rem;
		span {
			padding: 0px 10px;
			background: var(--color-30);
		}
	}

	.p-buttonset .p-button {
		margin-right: 0;
	}
	.p-button i {
		line-height: 2.5rem;
	}
	.p-button.google {
		background: linear-gradient(to left, #6e70eb 50%, #6366f1 50%);
		background-size: 200% 100%;
		background-position: right bottom;
		transition: background-position 0.5s ease-out;
		color: #fff;
		border-color: #6366f1;
	}
	.p-button.google:hover {
		background-position: left bottom;
	}
	.p-button.google i {
		background-color: #6366f1;
	}
	.p-button.google:focus {
		box-shadow: 0 0 0 1px #6366f1;
	}
	.p-button.discord {
		background: linear-gradient(
			to left,
			var(--bluegray-700) 50%,
			var(--bluegray-800) 50%
		);
		background-size: 200% 100%;
		background-position: right bottom;
		transition: background-position 0.5s ease-out;
		color: #fff;
		border-color: var(--bluegray-800);
	}
	.p-button.discord:hover {
		background-position: left bottom;
	}
	.p-button.discord i {
		background-color: var(--bluegray-800);
	}
	.p-button.discord:focus {
		box-shadow: 0 0 0 1px var(--bluegray-500);
	}
	@media screen and (max-width: 960px) {
		.button-demo .p-button {
			margin-bottom: 0.5rem;
		}
		.button-demo .p-button:not(.p-button-icon-only) {
			display: flex;
			width: 100%;
		}
		.button-demo .p-buttonset .p-button {
			margin-bottom: 0;
		}
	}
}
