.search-field {
	margin: auto;
	.input-search {
		padding: 8px 40px;
		background: var(--color-30);
		min-width: 30vw;
		border: 1px solid gray !important;
		color: white;
	}
	&::placeholder {
		color: white;
		opacity: 0.8;
	}
}

@media (max-width: 480px) {
	.search-field {
		display: none;
	}
}
