.password {
	display: flex;
	justify-content: flex-end;
	a {
		font-size: 14px;
		margin-top: -10px;
		margin-bottom: 10px;
		color: var(--primary-color);
		font-weight: 600;
	}

	i {
		line-height: 20px;
		cursor: pointer;
	}
}

.sign-up-info {
	color: white;
	margin-top: 15px;
	text-align: center;
	.link {
		margin-left: 4px;
		color: var(--primary-color);
	}
}
