@import "src/layout/variables.scss";
.lecture-overview {
	display: grid;
	grid-template-areas:
		"main menu "
		"footer menu ";
	grid-template-columns: 1fr 0.4fr;
	grid-template-rows: 1fr auto;
	padding-right: 60px;
	margin-bottom: 30px;
	color: white;
	font-size: 16px;
	gap: 30px;

	.content {
		grid-area: menu;
		display: flex;
		flex-direction: column;
		.course-list {
			display: flex;
			margin-top: 8px;
			background: $color-30;
			border: 0px;
			color: WHITE;
			padding: 0px 0px;

			div {
				display: flex;
				align-items: center;

				svg {
					margin-right: 6px;
				}
			}
			.container {
				flex: auto;
				width: 100%;
				padding-right: 4px;

				ul {
					width: 100% !important;
					padding: 0px !important;
				}
				li {
					cursor: pointer;
				}
				b {
					margin-right: 12px;
				}
			}
		}
		span {
			font-size: 20px;
			font-weight: 700;
		}
	}

	.video {
		grid-area: main;
		display: flex;
		align-items: flex-start;
	}
	footer {
		grid-area: footer;
	}
}
