@import "../../resources/styles/variables.scss";
.lecture-overview {
	flex: 1;
	padding: 20px 40px;
	display: flex;
	color: white;
	font-size: 16px;
	gap: 30px;

	.content {
		flex: 1;
		display: flex;
		flex-direction: column;

		span {
			font-size: 20px;
			font-weight: 700;
			margin-bottom: 10px;
		}
		.chapter {
			display: flex;
			flex-direction: row;
			gap: 10px;
			background-color: $color-30;
			padding: 10px 12px;
			border-radius: 8px;
			cursor: pointer;
			margin-bottom: 10px;

			font-weight: 600;
			font-size: 16px;
			align-items: center;
			svg {
				font-size: 20px;
			}
			.details {
				display: flex;
				flex-direction: column;
			}
			.time {
				display: flex;
				align-items: center;
				margin-top: 4px;
				font-size: 14px;
				font-weight: 400;

				svg {
					font-size: 15px;
				}
			}
			&.active {
				background-color: $color-10;
			}
		}
	}
}
