.create-page {
	grid-area: main;
	margin: 1rem auto;
	color: white;

	form {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
	}
	.field {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}
}
