.create-page {
	height: 100%;
	display: flex;

	form {
		margin: 30px auto;
		flex: 0 0 40%;
		min-width: 500px;
		gap: 15px;
	}
	.field {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}
}
