.plan-lecture-field {
	flex: 1;
	display: flex;
	gap: 10px;
	padding-bottom: 10px;

	input {
		flex: 1;
		margin: 0px;
		padding-right: 60px;
	}
	.wrapper {
		display: flex;
		flex: 0 0 70%;
		position: relative;
	}
	.field-length {
		position: absolute;
		top: 14px;
		right: 12px;
		color: var(--text-color-secondary);
	}
}
.add-button {
	max-width: fit-content;
}
