.grid-card-icon {
	align-self: flex-start;
	width: 20px;
	cursor: pointer;
}
.p-overlaypanel-content {
	border-radius: 6px;
	padding: 0.5rem !important;
	background: var(--color-30);

	.overlay-item {
		display: flex;
		align-items: center;
		gap: 10px;
		padding: 8px 12px;
		font-weight: 600;
		cursor: pointer;
		border-radius: 6px;

		&:hover {
			background: var(--color-10);
		}
	}
}
