.grid-card {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 10px;
	.img-container {
		position: relative;
		max-width: 100%;
		height: auto;
		aspect-ratio: 16/9;
	}
	img {
		border-radius: 8px;
		width: 100%;
		height: 100%;
		object-fit: cover;
		cursor: pointer;
	}

	.gray-out {
		filter: brightness(0.5);
	}

	.icon-wrapper {
		align-self: start;
		cursor: pointer;
	}

	h3 {
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
	}
	.progress-wrapper {
		position: absolute;
		bottom: 0px;
		width: 100%;
		height: auto;

		.progress {
			height: 4px;
			width: 100%;
		}
		.p-progressbar-value {
			background-color: red;
		}
	}
}

.p-rating .p-rating-item {
	width: 1.25rem !important;
}
