@import "../../resources/styles/variables.scss";
.home {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 20px 60px;
	font-size: 16px;

	.lecture-list {
		display: grid;
		width: 100%;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		gap: 20px;
	}

	.section-title {
		width: 100%;
		margin: 20px 0px;
		font-weight: 600;
		color: white;
		font-size: 22px;
	}

	.empty {
		flex: 30;
		color: white;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		font-size: 20px;
		row-gap: 20px;

		svg {
			font-size: 100px;
		}
	}
}
