.history {
	flex: 1;
	color: white;
	padding-right: 60px;
	display: flex;
	flex-direction: column;

	.title {
		margin: 20px 0px;
		font-weight: 600;
		font-size: 22px;
	}
	.content {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
		gap: 20px;
	}
}
