.edit-lecture-header {
	position: sticky;
	top: 0px;
	display: grid;
	grid-template-columns: auto 1fr auto;
	column-gap: 1rem;
	padding: 6px 20px;
	align-items: center;
	background: var(--color-30);
	z-index: 1;

	.back-to-link {
		color: white;
		text-decoration: none;
	}
	.center-section {
		display: flex;
		align-items: center;
		border-left: 2px solid white;
		padding-left: 12px;
		gap: 12px;
	}
	.title {
		white-space: nowrap;
		max-width: 300px;
		color: var(--primary-color);
		text-overflow: ellipsis;
		overflow: hidden;
	}
}
