.settings-navigation-tabs {
	header {
		font-size: 18px;
		margin-bottom: 10px;
		padding: 8px 12px;
	}
	a {
		display: flex;
		align-items: center;
		padding: 6px 0px;
		margin-bottom: 12px;
		font-size: 16px;
		font-weight: 600;
		color: white;
		text-decoration: none;
		cursor: pointer;
		border-left: 2px solid transparent;

		&.active {
			color: var(--primary-color);
			border-left-color: var(--primary-color);
		}
		svg {
			margin-right: 8px;
		}
	}
}
