.search {
	display: flex;
	justify-content: center;
	margin: 20px 0px;
	font-size: 1.6rem;
	color: white;

	.wrapper {
		display: flex;
		flex-direction: column;
		gap: 20px;
		max-width: 50%;
		min-width: 400px;
	}

	.search-card {
		display: flex;
		align-items: center;
		gap: 20px;
		cursor: pointer;
	}
	.banner {
		display: flex;
		background: var(--color-30) !important;
		border-radius: 8px;
		cursor: pointer;

		img {
			max-width: 320px;
			aspect-ratio: 16/9;
			object-fit: cover;
			border-radius: 8px;
		}
	}
	.content {
		flex: 1;
		min-height: 120px;
	}
}
