@import "../../../resources/styles/variables.scss";
.review-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 20px;
	margin-top: 12px;

	.review {
		min-height: 150px;
		max-height: 150px;
		background-color: $color-30;
		color: white;
		padding: 10px;
		padding-bottom: 20px;
		border-radius: 8px;
		header {
			display: flex;
			align-items: center;
			.content {
				display: flex;
				flex-direction: column;
				margin-left: 8px;
				.name {
					display: flex;
					div {
						margin-right: 5px;
					}
				}
			}
		}

		.comment {
			padding: 10px 0px 0px 10px;
		}
	}
}
