@import "../../layout/variables.scss";

.auth-form {
	min-width: 410px;
	display: flex;
	flex-direction: column;
	background: $color-30;
	color: white;
	padding: 26px 30px;
	padding-bottom: 40px;
	border-radius: 8px;
	box-shadow: 0px 4px 10px -2px black;
	.container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	img {
		object-fit: cover;
		max-width: 100%;
		max-height: 100%;
	}
	.title {
		font-size: 28px;
		text-align: center;
		font-weight: 700;
		color: rgb(223, 223, 223);
		margin-bottom: 26px;
	}
	.register-title {
		margin-top: 15px;
		font-size: 32px;
		text-align: center;
		font-weight: 700;
		color: $color-10;
		margin-bottom: 20px;
	}
	.initials {
		display: flex;
		justify-content: space-between;
	}

	button {
		color: white;
		border: 0px;
		background-color: $prime-green;
		font-size: 16px;
		font-weight: 700;
		border-radius: 4px;
		padding: 10px 0px;
		margin-top: 10px;
		cursor: pointer;

		&:disabled {
			background: rgb(109, 109, 109);
			color: rgb(205, 205, 205);
			cursor: default;
		}
	}
	.error {
		height: 10px;
		color: $error;
		font-size: 12px;
		font-weight: 600;
	}
	.loading {
		height: 100%;
		circle {
			stroke: white !important;
		}
	}
	.google-sign-in {
		display: flex;
		flex-direction: column;
		gap: 25px;
		text-align: center;
		font-size: 20px;
		.or {
			border-bottom: 1px solid gray;
			line-height: 0.1em;
			margin-top: 25px;
			span {
				padding: 0px 10px;
				background: $color-30;
			}
		}
		button {
			background: transparent;
			line-height: 20px;
			border: 1px solid gray;
			border-radius: 4px;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0px;
		}
		img {
			height: 24px;
			margin-right: 6px;
		}
	}
	.password {
		text-align: end;
		font-size: 14px;
		margin-top: -10px;
		margin-bottom: 10px;
		color: $prime-green;
		font-weight: 600;
	}
}
.sign-up-info {
	color: white;
	margin-top: 15px;
	text-align: center;
	.link {
		margin-left: 4px;
		color: $prime-green;
	}
}
