.header-buttons {
	display: flex;
	gap: 0.75rem;
	align-items: center;
}
.profile-overlay {
	width: 300px;
	display: flex;
	flex-direction: column;
	background-color: var(--surface-card) !important;
	color: white !important;
	padding: 10px;
	.p-overlaypanel-content {
		background: var(--surface-card) !important;
	}

	&::before {
		border-bottom-color: var(--color-30) !important;
	}
	&::after {
		border-bottom-color: var(--color-30) !important;
	}
	header {
		display: flex;
		flex-direction: row;
		align-items: center;
		.profile-details {
			display: flex;
			flex-direction: column;
			margin-left: 12px;
		}

		span {
			display: inline-block;
			margin-right: 4px;
			font-weight: 700;
			font-size: 18px;
			max-width: 100px;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
	.row {
		display: flex;
		align-items: center;
		color: white;
		text-decoration: none;
		padding: 8px 0px;
		font-size: 16px;
		cursor: pointer;

		svg {
			margin-right: 16px;
		}

		&:last-child {
			padding-bottom: 0px;
		}
	}
	main {
		margin-top: 10px;
		.profile {
			cursor: pointer;
		}
	}
}
