@import "src/layout/variables.scss";

.generic-button {
	height: 35px;
	display: flex;
	align-items: center;
	gap: 4px;
	color: white;
	background-color: $prime-green;
	padding: 6px 20px;
	font-weight: 600;
	font-size: 16px;
	border-radius: 4px;
	border: 0px;
	cursor: pointer;

	&:disabled {
		cursor: default;
		background-color: $color-10;
		color: gray;
	}
}
