.button-provider {
	background: transparent !important;
	line-height: 20px;
	border: 1px solid gray !important;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0px !important;
	margin-bottom: 8px !important;
	svg {
		margin-right: 6px;
	}
}
