.lecture {
	display: flex;
	justify-content: center;
	color: white;
	padding-right: 60px;

	.container {
		display: flex;
		flex-direction: column;
		gap: 20px;
		width: 50%;
		min-width: 700px;
	}
}
