.lecture {
	display: flex;
	justify-content: center;
	color: white;
	padding-right: 60px;

	.container {
		display: flex;
		flex-direction: column;
		width: 50%;
		min-width: 700px;

		.lecture-list {
			display: flex;
			flex-direction: column;
			padding: 20px 0px;
		}
	}
}
