@import "../../layout/variables.scss";
.header {
	position: sticky;
	top: 0px;
	display: flex;
	justify-content: flex-end;
	background-color: $color-60;
	padding: 8px 20px;
	z-index: 10;
	grid-area: header;
}

.profile-overlay {
	display: flex;
	flex-direction: column;
	background-color: $color-30 !important;
	color: white !important;
	width: 300px;
	&::before {
		border-bottom-color: $color-30 !important;
	}
	&::after {
		border-bottom-color: $color-30 !important;
	}
	header {
		display: flex;
		flex-direction: row;
		align-items: center;
		.profile-details {
			display: flex;
			flex-direction: column;
			margin-left: 12px;
		}

		span {
			display: inline-block;
			margin-right: 4px;
			font-weight: 700;
			font-size: 18px;
			max-width: 100px;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
	.row {
		display: flex;
		align-items: center;
		color: white;
		text-decoration: none;
		padding: 8px 0px;
		font-size: 16px;
		cursor: pointer;

		svg {
			margin-right: 16px;
		}

		&:last-child {
			padding-bottom: 0px;
		}
	}
	main {
		margin-top: 10px;
		.profile {
			cursor: pointer;
		}
	}
}
