.app-header {
	display: grid;
	grid-template-columns: auto 1fr auto;
	color: white;
	padding: 6px 12px;
	z-index: 2;
}

@media (max-width: 480px) {
	.app-header {
		display: flex !important;
		justify-content: center;
	}
}
