.account-section {
	.btns {
		display: flex;
		justify-content: flex-end;
		margin-top: 15px;

		button {
			background-color: var(--blue-900);
			border: none;
			color: white;
			font-size: 16px;
			font-weight: 600;
			line-height: 35px;
			border-radius: 6px;
			width: 90px;
			cursor: pointer;
		}
	}
}
