.input-password-field {
	display: flex;
	flex-direction: column;
	color: var(--color-10);
	margin-bottom: 8px;
	font-weight: 600;
	&.white {
		color: gray;
		input {
			color: white;
			background-color: var(--color-60);
		}
	}
	&.black {
		color: white;
		input {
			background-color: var(--color-30);
			margin-top: 4px;
			color: white;
		}
	}
	&.gray {
		color: white;
		input {
			background-color: var(--color-10);
			color: white;

			&::placeholder {
				color: white;
			}
		}
	}
	div {
		display: flex;
	}
	.input {
		flex: 1;
		background-color: #f2f2f2;
		padding: 10px 12px;
		border: 0px;
		border-bottom: 2px solid transparent;
		border-radius: 4px;
		transition: 0.3s all;
		outline: 0px;
		margin-top: 8px;
		&:hover {
			border-color: transparent !important;
		}
		&:focus {
			outline: 0;
			box-shadow: none !important;
			border-color: var(--blue-900) !important;
			border-bottom-right-radius: 0px;
			border-bottom-left-radius: 0px;
		}

		&.input-error {
			color: var(--red-300);
			border-color: var(--red-300) !important;
		}
	}

	.error {
		height: 10px;
		color: var(--red-300);
		font-size: 12px;
		font-weight: 600;
	}

	i {
		cursor: pointer;
		line-height: 20px;
	}
}
