.nav-menu {
	display: flex;
	flex-direction: column;

	a {
		min-width: fit-content;
		color: white;
		margin: 6px 0;
		padding: 4px 12px;
		font-weight: 600;
		text-decoration: none;
	}

	.delete-btn {
		color: #ef4444;
		border: 1px solid #ef4444;
		background: transparent;
	}
}

@media (max-width: 960px) {
	.nav-menu {
		flex-direction: row !important;
	}
}
