@import "../../../layout/variables.scss";

.lecture-item {
	padding: 10px 0px;

	.section-title {
		margin-bottom: 8px;
		padding-bottom: 4px;
		font-size: 24px;
		font-weight: 600;
		border-bottom: 1px solid white;
	}
	.course-list {
		display: flex;
		gap: 10px;
		margin-top: 8px;
		background: $color-30;
		border: 0px;
		color: WHITE;
		padding: 8px 0px;

		ul {
			flex: 1;
		}

		div {
			display: flex;
			align-items: center;

			svg {
				margin-right: 6px;
			}
		}
	}

	circle {
		color: $second-green !important;
	}
}

.skeleton {
	display: flex;
	flex-direction: column;

	.title {
		min-height: 35px;
		max-width: 300px;
		background-color: $color-30;
		margin-top: 30px;
	}
	.section {
		min-height: 200px;
		background-color: $color-30;
	}
}
