// BLACK
$color-60: #0f0f0f;
$color-30: #272727;
$color-10: #4b4b4b;

$form-color: #1b2026;
$input-color: #30363d;

// GREEN
$prime-green: #38c669;
$second-green: #268d5d;

$blue-60: #2196f3;

$error: #ef5350;
