.input-field {
	flex: 1;
	display: flex;
	flex-direction: column;
	margin-bottom: 8px;
	font-weight: 600;
	color: var(--color-10);
	&.white {
		color: gray;
		input {
			color: white;
			background-color: var(--color-60);
		}
	}
	&.black {
		color: white;
		input {
			background-color: var(--color-30);
			margin-top: 4px;
			color: white;
		}
	}
	&.gray {
		color: white;
		input {
			background-color: var(--color-10);
			color: white;

			&::placeholder {
				color: white;
			}
		}
	}
	input {
		padding: 8px 12px;
		font-size: 16px;
		margin-top: 6px;
		border: 0px;
		border-bottom: 2px solid transparent;
		border-radius: 4px;
		transition: 0.3s all;

		&:focus {
			outline: 0;
			border-bottom: 2px solid var(--blue-900);
			border-bottom-right-radius: 0px;
			border-bottom-left-radius: 0px;
		}
	}

	.error {
		height: 10px;
		color: var(--red-300);
		font-size: 12px;
		font-weight: 600;
	}
}
