@import "../../../layout/variables.scss";

.history-card {
	position: relative;
	display: grid;
	grid-template-areas:
		"header header"
		"menu main"
		"menu main";
	grid-template-columns: 1fr 20px;
	grid-template-rows: 180px 100px;
	gap: 6px 0px;

	img {
		grid-area: header;
		border-radius: 8px;
		object-fit: cover;
		width: 100%;
		max-height: 180px;
		min-height: 180px;
	}
	.container {
		grid-area: menu;
		font-weight: 400;
		color: white;

		span {
			font-weight: 600;
			font-size: 18px;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.author {
			margin-top: 4px;
			font-size: 16px;
			overflow: hidden;
			text-overflow: ellipsis;
			color: #808080;
			white-space: nowrap;
		}
	}
	.icon {
		color: white;
		cursor: pointer;
		height: 20px;
	}

	.hover {
		position: absolute;
		width: 100%;
		height: 180px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-start;
		background-color: $color-30;
		border-radius: 8px;
		opacity: 0.9;
		cursor: pointer;

		div {
			padding: 6px 12px;
			font-weight: 600;
			font-size: 18px;
		}
	}
}
