@import "../layout/variables.scss";
.input-search {
	border: none;
	background: $color-30;
	min-width: 30vw;
	color: white;
	border: 1px solid gray !important;

	&::placeholder {
		color: white;
		opacity: 0.8;
	}
}
.p-inputtext {
	padding: 0.5rem 0.75rem;
}
