@import "../../../resources/styles/variables.scss";

.input-field {
	display: flex;
	flex-direction: column;
	margin-bottom: 8px;
	font-weight: 600;
	font-size: 16px;
	color: white;
	&.gray {
		textarea {
			background-color: $color-10;
			color: white;
			&::placeholder {
				color: white;
			}
		}
	}
	textarea {
		max-height: 90px;
		background-color: $color-30;
		margin-top: 4px;
		color: white;
		padding: 10px 16px;
		font-size: 16px;
		border: 0px;
		border-bottom: 2px solid transparent;
		text-decoration: none;
		border-radius: 4px;
		transition: 0.3s all;
		resize: none;

		&:focus {
			outline: 0;
			border-bottom: 2px solid $prime-green;
			border-bottom-right-radius: 0px;
			border-bottom-left-radius: 0px;
		}

		&.error {
			color: $error;
			border-color: $error !important;
		}
	}

	.error {
		height: 10px;
		color: $error;
		font-size: 12px;
		font-weight: 600;
	}
}
