@import "../../layout/variables.scss";
.activity-card {
	display: flex;
	align-items: center;
	gap: 15px;
	background: $color-30;
	padding: 10px 15px;
	border-radius: 4px;

	font-size: 16px;
	font-weight: 400;
	color: gray;
	.title {
		color: white;
	}
}
